{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
    {{ parent() }} - Change password
{% endblock %}

{% block heading %}
    <div class="panel-heading"><h3>Change password</h3></div>
{% endblock %}

{% block fos_user_content %}
{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock fos_user_content %}
