{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'KTUCountersBundle' %}

{% block title %}
    {{ parent() }} - {{ 'profile.show.title'|trans }}
{% endblock %}

{% block heading %}
    <div class="panel-heading"><h3>{{ 'profile.show.header'|trans }}</h3></div>
{% endblock %}

{% block fos_user_content %}
{% include "FOSUserBundle:Profile:show_content.html.twig" %}
{% endblock fos_user_content %}
